{
  "plugins": [
    
  ],
  "presets": [
    ["@babel/preset-env", {
      "modules" : false
    }]
  ],
  "env": {
    "production": {
      "plugins" : [
        ["transform-remove-console", { "exclude": [ "error", "warn"] }]
      ]
    }
  }
}